@import "tailwindcss";

:root {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #1c1d1f;
  background: #f7f9fa;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f7f9fa;
}
.input {
  @apply w-full border border-gray-300 rounded-lg px-4 py-2 text-sm
  focus:ring-2 focus:ring-purple-500 focus:border-purple-500 outline-none;
}

.label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}
